@{
    ViewBag.Title = "Map";
}

        <div id="theMap" style="position:relative;height:100%;width:100%;">

        </div> 

        <div id="postPopup">          
        </div>


<script type="text/javascript">
    initializeMap();    
</script>

@Scripts.Render("~/Scripts/Mapping.js")
